*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
src/*.o
src/*.so
src/*.dll
vignettes/examples/*.grd
vignettes/examples/*.gri
vignettes/examples/*.vrt
vignettes/examples/*.nc
interpolator_test*
*.nc
inst/doc
CRAN-SUBMISSION
revdep/
