import(sp)
import(spdep)
import(ncdf4)
import(ncdf4.helpers)
import(rgdal)
import(qmap)
import(methods)
useDynLib(meteoland, .registration = TRUE)
export(correctionpoints, correctiongrid, correction.residual,
       defaultCorrectionParams, defaultInterpolationParams,
       downloadAEMETcurrentday,downloadAEMETpoints, downloadAEMETstationdata,
       extractgridpoints, extractNetCDF, extractpointdates, extractSpatialData,
       interpolationpoints, interpolationgrid, interpolation.calibration, interpolation.coverage, interpolation.cv, 
       meteoplot, MeteorologyUncorrectedData, MeteorologyInterpolationData,
       penman, penmanmonteith, precipitationconcentration,
       plot.interpolation.cv,
       radiation_julianDay, radiation_solarDeclination, radiation_solarConstant, radiation_daylength,
       radiation_dateStringToJulianDays, radiation_sunRiseSet, radiation_daylengthseconds,
       radiation_potentialRadiation, radiation_solarElevation, radiation_solarRadiation, 
       radiation_directDiffuseInstant, radiation_directDiffuseDay, 
       radiation_outgoingLongwaveRadiation,radiation_netRadiation,
       readmeteorologygrid,readmeteorologypoint,readmeteorologypointfiles , 
       readmeteorologygrid, readmeteorologygridfiles, readmeteorologygridcells, 
       readWindNinjaWindFields,
       SpatialPointsTopography, SpatialGridTopography,
       SpatialGridMeteorology, SpatialPointsMeteorology,
       subsample,summary.interpolation.cv, summarygrid, summarypoints, 
       utils_saturationVP, utils_averageDailyVP, utils_atmosphericPressure,
       utils_airDensity, utils_averageDaylightTemperature, utils_latentHeatVaporisation,
       utils_latentHeatVaporisationMol,utils_psychrometricConstant,
       utils_saturationVaporPressureCurveSlope,
       writemeteorologygrid, writemeteorologygridfiles,
       writemeteorologypoint, writemeteorologypointfiles)
exportClasses(MeteorologyProcedureData, MeteorologyInterpolationData, MeteorologyUncorrectedData)
exportClasses(SpatialPointsMeteorology,SpatialPointsTopography,SpatialGridMeteorology,SpatialGridTopography)
exportMethods(subsample, spplot, "[")
importFrom(Rcpp, evalCpp)
importFrom(curl,new_handle, handle_setheaders, handle_setopt,curl_fetch_memory)
importFrom(qmap,fitQmap,doQmap,fitQmapQUANT)
importFrom(grDevices, colorRampPalette, topo.colors)
importFrom(graphics, abline, hist, lines, par)
importFrom(utils, read.table, setTxtProgressBar,
             txtProgressBar, write.table)
importFrom(stats, cor, var, lm)
S3method(summary,interpolation.cv)
S3method(plot,interpolation.cv)
